html,
body {
  margin: 0;
  /*width:1125px*/
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  font-size:15px;
  font-family: Helvetica, Geneva, Arial, sans-serif;
}





button {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 10px 30px;
  font-size: 1em;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  width: 10em;
}
button:focus {
  outline: none;
}


.header {
  flex: 0 0 auto;
  margin:0;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1.5em;
  border-bottom: 1px solid lightgrey;
  opacity: 1;
}



/*header*/

.header__logo {
  font-size: 1.625em;
}

.header__navigation {
    margin: 0;
    height:1.625em;
    font-size: 1em;
    text-align: center;
}

.header__navigation-menu {
  padding: 0.5em;
	margin: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  list-style: none;

}

.header__navigation-menu li{
  display: inline;
  margin: 1em;
  font-size: 1em;
  text-decoration: none;
}
.header__navigation-menu li > a {
  text-decoration: none;
  color: white;
}

.header__navigation-menu li > a:visited {
  text-decoration: none;
  color: #32cf87;

}


.header__navigation-menu li > a:hover {
  color:green;
  border-bottom: 1px solid #32cf87;
  cursor: pointer;
  padding-bottom: 1em;
}


/*header end */

/*main*/

.main__capability {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  color: black;
  background: black;
  height: 35em;
}




.main__name {
  margin: 1em;
}

.main__description {
  margin: 0;
  font-size: 1.5em;
  color: white;
}

.main__advantages-title {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  color: black;
}

.main__quad--table {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  color: #32cf87;
  margin-bottom: 5em;
}

.main__quad--table div {
  margin: 1em;
  border: 1px solid black;
  color: black;
  width: 25em;
  height: 17em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -align-items: center;

}

  .main__quad--table div>svg {
    margin:auto;
  }



.main__quad--table div:hover {
  border: 2px solid #32cf87;
  color:#32cf87;
  margin-left: 0.90em;
  margin-right: 0.90em;
  margin-bottom: 0.90em;

}

.main__quad--table div > svg {
  flex-grow: 2;
  fill: black;
}

.main__quad--table div:hover > svg {
  fill: #32cf87;
}

.main__quad--table div > h3 {
  flex-grow: 1;
  margin: 0;
  text-align:  center;
}

.main__quad--table div > p {
  flex-grow: 1;
  margin: 5px;
  text-align:  center;
}




.main__pricing {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #32cf87;
}

.main__pricing-list,
.main__title-pricing {
  color: black;
}

.main__pricing-list {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: space-around; /* Safari */
  justify-content: space-around;
  -webkit-align-items: center; /* Safari */
  -webkit-align-items: center; /* Safari */
  align-items: center;
  height: 100%;
}



.main__pricing-list div {
  -border: 2px solid #8f8e91;
  margin: 1.5em;
  padding: 1em;
  width: 20em;
  height: 25em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #8f8e91;
  border: 2px solid #8f8e91;
}


.main__pricing-list div:hover {
  border:2px solid #32cf87;
  height: 27em;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  margin:0;
  background-image: linear-gradient(to bottom,
    #32cf87 15%,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 0) 100%,
    rgb(4, 120, 21) 15%);
}

.main__pricing-list div > h3 {
  text-align: center;
}

.main__pricing-list div > p {
  color: #8f8e91;
  text-align: center;
}

.main__pricing-list div > button {
  color: black;
  background-color: white;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Geneva, Arial, sans-serif;
}


.main__pricing-list div > button:hover {
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #32cf87;
  text-shadow: -1px 1px #27496d;
}

.main__pricing-list div > button:active {
  background-color: #32cf87;
  text-shadow: -1px 1px #193047;
  border: none;
}

.main__support-title {
  margin: auto;
  margin-top: 2em;
}



.main__support-form *{
  margin: 0.5em;
  background: lightgrey;
}

.main__name-input,
.main__email-input,
.main__text-input
 {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 8px 8px 8px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background: grey;
    cursor: pointer;
    color: white;
    font-family: Helvetica, Geneva, Arial, sans-serif;
}

.main__text-input {
  height: 300px;
  width: 1200px;

}

.main__name-input,
.main__email-input {
  width: 48.4%;
}

::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}


.main__name-input:focus,
.main__email-input:focus,
.main__text-input:focus {
  border: 3px solid #555;
  color: white;

}


.main__context {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  margin-top: 5em;
  align-content: space-between;
  width: 100%;
  color: white;

}

.main__context div{
  margin: 1em;
}




ul.main__tabs {
	height: 25px;
	line-height: 25px;
	margin: 0 0 3px;
	list-style: none;
}
* html ul.main__tabs {margin-bottom: 0;}
ul.main__tabs li {
	float: left;
	margin-right: 1px;
}
ul.main__tabs li a {
	display: block;
	padding: 0 13px 1px;
	margin-bottom: -1px;
	color: #444;
	text-decoration: none;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #EFEFEF;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
* html ul.main__tabs li a {float: left}
*+html ul.main__tabs li a {float: left}
ul.main__tabs li a:hover {
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
ul.main__tabs li.tab-current a {
	color: #444;
	background: #EFEFEF;
	padding: 0px 13px 2px;
	border: 1px solid #DDD;
	border-bottom: 1px solid #EFEFEF;
}

div.t2 {
	display: none;
  text-align: center;
}

div.t1,
div.t2 {
  margin: 0;
	padding: 0 12px;
  min-height: 600px;
  background: grey;
  width: 100%;
}

.main__adress {
  float: left;
}

span {
  margin: 5px;
}

.main__commands-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.main__vasia,
.main__petya,
.main__anton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 1em;
  background: white;
  color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.main__vasia p,
.main__petya p,
.main__anton p {
  margin-top: 0;
}

.main__center-svg {
  display: flex;
}

.main__support-center {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap; /* Safari */
  align-items: center;
}


.main__support-form {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  max-width:1000px;
  font-size: 1em;

}


.main__button-send {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  display:block;
  margin: auto;
}

.main__button-send:hover {
  background-color: #417cb8;
  border: 1px solid white;
}

.main__top-button {
  width:5em;
  height:2em;
  padding: 1em;
  border:1px solid #ccc;
  background:#f7f7f7;
  text-align: center;
  padding: 0.1em;
  position:fixed;
  bottom:10px; /* отступ кнопки от нижнего края страницы*/
  right:10px;
  cursor:pointer;
  display:none;
  color:#333;
  font-family:verdana;
  font-size:1em;
  border-radius: 20px;
  opacity: 0.7;

}

.main__top-button:hover {
    background-color: #f5f4f4;
    opacity: 0.7;
    filter: alpha(opacity=100);
    }

.main__top-button span {
    display: block;
    width: 100%;
    margin-top: 0.2em;
    text-align: center;
    font-size: 1em;
    color: #52466a;
    font-family: Georgia, Times, serif;
    font-weight: bold;
    opacity: 0.7;
    }

#overlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    background:#000;
    opacity:.8;
    }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #000;
  opacity: 0.8;

}

.title-price {
    position: relative;
    margin: 0;
    top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 50%;
  max-width: 30em;
  width: 100%;
  height: auto;
  z-index: 3;
  background: grey;
  border-radius: 20px;
  min-height: 30em;
  margin:auto;
  text-align: center;
  opacity: 1;
}

.content-close {
  position: relative;
  z-index: 9999;
  width: 32px;
  height: 32px;
  top:0;
  right:0;
  left:90%;
}

.content-close:hover {
  fill: white;
}

.content-email,
.content-name,
.content-number
 {
   width: 90%;
   max-width: 400px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 3px solid #ccc;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   outline: none;
   background: grey;
   cursor: pointer;
   color: white;
   font: Helvetica, Geneva, Arial, sans-serif;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   max-width: 500px;
}

.content-commet {
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background: grey;
  cursor: pointer;
  color: white;
  font-family: Helvetica, Geneva, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  max-width: 500px;
}

.content-button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.content-button:hover {
  background-color: #417cb8;
}

.information {
  position: relative;
  top: -10px;
}

.footer {
  flex: 0 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  background: black;
  color: lightgrey;
  font-size: 1em;
}

.parallax {
    /* The image used */
    background-image: url('../image/644eca242a52.jpg');
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: relative;
}

parallax::before {
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}
